<!DOCTYPE html>
<html ng-app="registerApp">

<head>
    <title>AngularJS Registration Form</title>

    <!-- AngularJS Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="style.css">

</head>

<body ng-controller="registerController">

<div class="container">

<h2>User Registration</h2>

<form name="regForm" ng-submit="submitForm()" novalidate>

<label>Full Name</label>
<input type="text" ng-model="user.name" required>

<label>Email</label>
<input type="email" ng-model="user.email" required>

<label>Password</label>
<input type="password" ng-model="user.password" required>

<label>Age</label>
<input type="number" ng-model="user.age">

<label>Gender</label>
<select ng-model="user.gender">
<option value="">Select Gender</option>
<option>Male</option>
<option>Female</option>
<option>Other</option>
</select>

<button type="submit">Register</button>

</form>

<p class="success">{{message}}</p>

</div>

<script src="app.js"></script>

</body>
</html>